= render "layouts/header"
       
.contain
  .messagesArea
    .messages
      = room.id
      = render @messages
%form
  .messageInputForm
    .container
      %input{"data-behavior" => "room_speaker", :placeholder => "メッセージを入力...", :type => "string"}/
