
// .messagesArea {
//   overflow: scroll;
//   height: 72vh;
//   padding: 40px;
//   .message {
//     margin-top: 24px;
//     &__name {
//       color: #45494B;
//     }
//     &__text {
//       position: relative;
//       display: inline-block;
//       margin-left: 16px;
//       padding: 8px 12px;
//       max-width: 100%;
//       color: #555;
//       font-size: 16px;
//       border-radius: 8px;
//       background: #f1f1f1;
//       &:before {
//         content: "";
//         position: absolute;
//         top: 50%;
//         left: -20px;
//         margin-top: -10px;
//         border: 10px solid transparent;
//         border-right: 10px solid #f1f1f1;
//       }
//     }
//     &_current_user {
//       background: #fd5068;
//       color: #fff;
//       &:before {
//         border-right: 10px solid #fd5068;
//       }
//     }
//   }
// }
// .messageInputForm {
//   position: fixed;
//   bottom:0;
//   border-top: 1px solid #e8e8e8;
//   padding: 30px 0;
//   width: 100%;
//   &_input {
//     width: 100%;
//     border: none;
//   }
// }

.contain{
  padding: 130px 100px 30px;
  .messagesArea {
      overflow: scroll;
      height: 72vh;
      padding: 40px;
      .message {
        margin-top: 24px;
      }
    }
}
.message{
  display: flex;
  &__box{
    &__image{
      img{
        border-radius: 60px;
      }
      &__name{
        text-align: center;
        font-size: 25px;
      }
    }
  }
  &__text{
    position: relative;
    display: inline-block;
    margin: 20px 16px;
    padding: 8px 12px;
    max-width: 100%;
    font-size: 25px;
    border-radius: 8px;
    background: #ffde3bd6;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px;
      margin-top: -10px;
      border: 10px solid transparent;
      border-right: 10px solid #ffde3bd6;
    }
  }
  &__content{
    position: relative;
    display: inline-block;
    margin: 20px 16px;
    padding: 8px 12px;
    max-width: 100%;
    color: #555;
    font-size: 25px;
    border-radius: 8px;
    background: #ffde3bd6;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: -20px;
      margin-top: -10px;
      border: 10px solid transparent;
      border-left: 10px solid #ffde3bd6;
    }
  }
}

form{
  .messageInputForm{
    .container{
      text-align: center;
      input{
        border-style: none;
        height: 40px;
        width: 50%;
        padding-left: 10px;
        border-radius: 60px;
        font-size: 20px;
        margin-bottom: 40px;
      }
    }
  }
}

.messagebox_current_user{
  display: flex;
  flex-direction: row-reverse;
}
.message_current_user{
  background-color: #ffde3bd6;
}

