*{
  box-sizing: border-box;
  color: white;
}

html{
  background-color: rgb(32, 32, 32);
}

a{
  text-decoration: none;
  color: white;
}
input{
  color: black;
}

.header{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .header-leftbox{
    width: 20%;
    line-height: 100px;
    color: white;
  }
  .header-name{
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    }
  .header-rightbox{
    float: right;
    display: flex;
    margin-top: 30px;
    .header-rightbox__registar{
      margin-right: 10px;
    }
    .header-rightbox__login{
      margin-right: 10px;
    }
  }
}
  
.main{
  width: 100vw;
  height: 100%;
  .main-content{
    display: block;
    margin: 0 auto;
    height: 100%;
    .main-content__box{
      margin: 60px 100px;
      height: 20%;
      padding-left: 40px;
      display: flex;
      .main-content__box__image{
        margin-right: 20px;
        img{
          border-radius: 8px;
        }
      }
      .main-content__box__sentence{
        width: 100%;
        .main-content__box__name{
          font-size: 35px;
        }
        .main-content__box__description{
        
        }
        .main-content__box__description__ex{
          display: flex;
          flex-wrap: wrap;
          .main-content__box__description__ex__tag{
            font-size: 30px;
            margin: 10px;
            border-radius: 5px;
            background-color: #ffde3bd6;
            position: relative;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0 1em 0 .75em;
            border-radius: 30px;
          }
          .main-content__box__description__ex__star{
            margin-right: 40px;
          }
        }
      }
    }
  }
}


.show-content{
  width: 100%;
  height: 100vh;
  padding: 20px;
  .show-content__topbox{
    margin: 20px;
    display: flex;
    .show-content__topbox__image{
      margin-right: 20px;
      img{
      border-radius: 10px;
      }
    }
    .show-content__topbox__detail{

      .show-content__topbox__detail__name{
        font-size: 45px;
      }
      .show-content__topbox__detail__description{
        font-size: 30px;

      }
      .show-content__tags{
        display: flex;
        flex-wrap: wrap;
        .show-content__tags__tag{
          font-size: 30px;
          margin: 10px;
          border-radius: 5px;
          background-color: #ffde3bd6;
          position: relative;
          display: inline-block;
          height: 40px;
          line-height: 40px;
          padding: 0 1em 0 .75em;
          border-radius: 30px;

        }
        .show-content__tags__star{

        }
        .show-content__tags__like{

        }
        }
      }
    }
  .show-content__bottombox{
    height: 400px;
    overflow: scroll;
    .show-content__bottombox__title{
      font-size: 30px;
      margin-bottom: 20px;
    }

    .show-review{
      &__content{
        padding: 10px;
        height: 80px;
        border: 1px solid;
        .show-review__subcontent{
          display: flex;
          float: right;
          &__name{
            margin-right: 30px;
          }
          &__star{
            margin-right: 30px;
            display: flex;
            flex-direction: row-reverse;
            p{
              margin: 0px 10px;
            }
          }
        }
      }
    }
  }
}


.show-content__endbox{

  .show-content__endbox__title{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .show-content__endbox__box{

    .show-tweet{
      padding: 10px;
      height: 80px;
      border: 1px solid;
      .show-tweet__image{

      }
      .show-tweet__name{

      }
        .show-tweet__detail{

          .show-tweet__detail__tweet{

          }
        }
      .show-tweet__comment{

      }
      .show-tweet__like{

      }
    }
  }
}