.main-tweet{
  .main-tweet__box{
    .tweet-show{
      padding: 10px;
      height: 80px;
      border: 1px solid;
      .tweet-show__image{

      }
      .tweet-show__name{

      }
        .tweet-show__tweet{

          .tweet-show__date{

          }
        }
      }
    }
  }

  .comment-form{

  }
  .comment-box{
    .comment-show{
      padding: 10px;
      height: 80px;
      border: 1px solid;
      .comment-show__image{

      }
      .comment-show__name{

      }
        .comment-content{

        }
      }
    }
