.header
  .header-name
    = link_to "subschool", root_path
  .header-leftbox
    検索フォーム
  .header-rightbox
    .header-rightbox__registar
      = link_to "新規登録", new_user_registration_path
    .header-rightbox__login
      = link_to "ログイン", user_session_path